<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @book.publisher %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @book.pubdate %>
</p>

<p>
  <b>Price:</b>
  <%=number_to_currency(@book.price, :precision =>0, :format=>"%n") %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>